:root {
    --switch-duration: 1.9s;
    --switch-name: scale;
    --switch-ease: cubic-bezier(0.65, 0.05, 0.36, 1);
  
    --mask-color: #000; /* Light mode default */
  }
  
  .dark {
    --mask-color: #fff; /* Dark mode */
  }
  
  .-animated {
    --switch-duration: 1.5s;
    --switch-name: scale-fast;
    --switch-ease: cubic-bezier(0.65, 0.05, 0.36, 1);
  }
  
  ::view-transition-new(root) {
    -webkit-mask: url(/assets/shigure-ui.webp) center / contain no-repeat;
    mask: url(/assets/shigure-ui.webp) center / contain no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-mode: alpha;
    mask-mode: alpha;
  
    /* Supaya lebih menyatu dengan background */
    mix-blend-mode: screen;
  
    /* Animasi zoom in/out */
    animation: themeSwitch 1.5s ease forwards;
  }
  
  ::view-transition-old(root) {
    animation: themeSwitch 1.5s ease forwards;
  }
  
  /* Keyframes animasi */
  @keyframes themeSwitch {
    0% {
      -webkit-mask-size: 0%;
      mask-size: 0%;
      opacity: 1;
    }
    50% {
      -webkit-mask-size: 120%;
      mask-size: 120%;
      opacity: 1;
    }
    100% {
      -webkit-mask-size: 250%;
      mask-size: 250%;
      opacity: 0;
    }
  }